html {
    font-size: $font-size;
overflow-y: scroll;
}

body {
    font-size: $font-size;
    font-family: $font-main;
}
section {
    position: relative;
    overflow: hidden;
}

a {
    color: $color-primary;
    &:hover, 
    &:focus {
        text-decoration: none;
        color: $color-accent;
    }
}

h1, h2 {
    
    &::after {
         position: absolute;
         width: 100%;
         top: $gap * 2;
         margin-left: $gap;
         content: "";
         border-bottom: 3px solid $color-accent;
     }
 }
