.footer {
    margin-top: -$gap;
padding-top: $gap * 3;   
color: white;
background-color:   #222222;

ul {
    padding: 0;
    list-style: none;
}

a {
    color: #77776A;

    &:hover,
    &:focus {
        color: white;
    }
}

&-top {
    @include xs {
        padding-left: $gap;
    }
}

&-bottom {
    margin: 10px 0;
    text-align: center;
    

    a {
        color: white;
    }
}

}