.header {
  @extend %margin-bottom-lg;
}

.header-logo {
  text-align: center;
  padding: 100px 0;

  background-color: $color-dark;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;

  &__title {
    color: $color-accent;
    display: block;
    font-family: $font-header;
    @extend %text-shadow;

    @include xs-min {
      letter-spacing: 0.33em;
      font-size: 3.5rem;
      // margin-right: -0.2777em;
    }
    @include xs {
      letter-spacing: 0.2em;
      font-size: 2.5rem;
    }
  }
  &__description {
    color: $color-light;
    display: block;
    letter-spacing: 0.2em;
    font-size: 1.15rem;
    @extend %text-shadow;
  }
}
