.main {
  @extend %margin-bottom-lg;

  .site-search {
    margin-bottom: $gap * 3;
  }
  .user-login {
    margin-bottom: $gap * 4;
  }
}
.new-films,
.top-week {
  &-row {
    margin-right: -$gap / 2;
    margin-left: -$gap / 2;
    margin-bottom: -$gap;
  }

  &-item {
    padding-right: $gap / 2;
    padding-left: $gap / 2;
    margin-bottom: $gap;

    :hover,
    :focus {
      color: white;
      background-color: $color-accent;
    }

    &__image {
      width: 100%;
    }

    &__title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      font-size: $font-size;
      font-family: $font-main;
      font-weight: bold;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
    }
    
    &__thumbnail {
      margin-bottom: 0;
      transition: background-color 0.25s;
    }
  }
  &__title {
    

    font-family: $font-header;
    font-size: 3rem;

    margin-top: -$gap / 2;
    margin-bottom: $gap * 3;
  }
}

.top-week,
.new-cinema {
  margin-top: $gap * 3;

&-item {
  // margin-bottom: -$gap / 3;
}

  &__title {
    font-size: 2.5rem;
    font-family: $font-header;
    padding-left: $gap * 3;
    margin-top: 0;
  }
}

.new-cinema {
  &-item {
   padding-top: $gap ;

    &:hover {
      h3> a {
        color: $color-accent;
      }
      .thumbnail, .btn-warning  {
       background-color: $color-accent;
      }
    }
    &-thumbnail {
      margin-bottom: 0;

      
    }
    &__img {
      float: left;
      width: 100%;
      
    }

    &__title {
      font-size: 1.5rem;
      font-weight: normal;
      text-align: left;
    margin-top: 5px;
      color: $color-primary;
      
    }

    &__content {
      // letter-spacing: 0.01em;
      text-align: justify;
    }

    &__btn {
      float: right;
      background-color:#f0ad4e;;
      margin-bottom: $gap * 2;

      a {
        color: white;
      }
      
    }
  }
}
