.page {
   
    &-films {
        
        &__badge {
   font-size: $font-size;
  
        }
    &__wrapper {
        white-space: nowrap;
        font-size: 1.2rem;
       
       &:not(:last-of-type) { 
        margin-right: $gap;
    }
    }

    &__info {
        padding: 20px;
    }
    }
    
    
    &-description {
        margin-top: $gap * 4;
        
        
        &__panel {
            padding: 20px $gap;
        }
    }
    
    &-recall {
        margin-top: $gap * 3;
        
        
        &__name {
            font-size: 1.2rem;
            padding: 2px 0 2px 0;
        }
        
        &__img {
            
            float: left;
            padding-right: $gap/2;
        }
        
        &__btn {
            float: right;
            padding: 10px 12px 8px 14px;
            font-size: 1.2rem;
            // letter-spacing: 0.01em;
        }
    }

    &-otziv {
        margin-top: 67px;
    }
    
    
}

.form-group__recall {
    margin-top: $gap*3;
}

.embed-responsive {
    border: 1px solid $color-gray;
            border-bottom: none;
    
}