.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black;
}

.header, .main, .left-sidebar {
  margin-bottom: 79.99995px;
}

.navbar-inverse {
  background-color: #191919;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}

.navbar-inverse .navbar-nav li > a:focus, .navbar-inverse .navbar-nav li > a:hover {
  background-color: #165690;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel {
  border: none;
  background-color: #f2f2f2;
  margin-bottom: 30px;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #df8a13;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
}

section {
  position: relative;
  overflow: hidden;
}

a {
  color: #165690;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

h1::after, h2::after {
  position: absolute;
  width: 100%;
  top: 30px;
  margin-left: 15px;
  content: "";
  border-bottom: 3px solid #df8a13;
}

.header-logo {
  text-align: center;
  padding: 100px 0;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}

.header-logo__title {
  color: #df8a13;
  display: block;
  font-family: "PT Serif", serif;
}

.header-logo__description {
  color: #ffffff;
  display: block;
  letter-spacing: 0.2em;
  font-size: 1.15rem;
}

.main .site-search {
  margin-bottom: 45px;
}

.main .user-login {
  margin-bottom: 60px;
}

.new-films-row,
.top-week-row,
.new-cinema-row {
  margin-right: -7.5px;
  margin-left: -7.5px;
  margin-bottom: -15px;
}

.new-films-item,
.top-week-item,
.new-cinema-item {
  padding-right: 7.5px;
  padding-left: 7.5px;
  margin-bottom: 15px;
}

.new-films-item :hover,
.new-films-item :focus,
.top-week-item :hover,
.top-week-item :focus,
.new-cinema-item :hover,
.new-cinema-item :focus {
  color: white;
  background-color: #df8a13;
}

.new-films-item__title,
.top-week-item__title,
.new-cinema-item__title {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.new-films-item-thumbnail,
.top-week-item-thumbnail,
.new-cinema-item-thumbnail {
  margin-bottom: 0;
}

.new-films__title,
.top-week__title,
.new-cinema__title {
  font-family: "PT Serif", serif;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 45px;
}

.top-week,
.new-cinema {
  margin-top: 45px;
}

.top-week-item,
.new-cinema-item {
  margin-bottom: 0;
}

.top-week__title,
.new-cinema__title {
  font-size: 2.5rem;
  padding-left: 45px;
}

.new-cinema-item__img {
  float: left;
  width: 263px;
}

.new-cinema-item__title {
  font-size: 1.5rem;
  font-weight: normal;
}

.left-sidebar .panel:last-of-type {
  margin-bottom: 0;
}

.left-sidebar .vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}

.left-sidebar .vertical-slider__img {
  width: 100%;
}

.user-login {
  position: relative;
}

.user-login__tabs {
  position: absolute;
  top: 0;
  right: 10px;
  border: none;
}

.user-login__tabs a {
  background-color: transparent !important;
  border: none !important;
  color: #dddddd;
  padding: 14px 5px 11px !important;
}

.user-login__tabs .active a {
  color: #ffffff !important;
}

.site-news-item {
  position: relative;
  clear: both;
}

.site-news-item:not(:last-of-type) {
  min-height: 85px;
  margin-bottom: 15px;
}

.site-news-item:not(:last-of-type)::after {
  position: absolute;
  right: 0;
  bottom: -5px;
  height: 1px;
  width: calc(100% - 85px);
  content: "";
  background-color: #dddddd;
}

.site-news-item:hover a {
  color: #df8a13;
}

.site-news-item:hover .site-news-item__img {
  background-color: #df8a13;
  border-color: #df8a13;
}

.site-news-item__img {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
}

.site-news-item__title {
  margin-bottom: 10px;
}

.site-news-item__title a {
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.site-news-item__date {
  text-align: right;
  font-size: 0.8rem;
  color: #909090;
}

.top-films__body {
  padding-right: 0;
  padding-left: 0;
}

.top-films__list {
  margin-bottom: 0;
}

.top-films__item {
  background-color: transparent;
  margin-right: -1px;
  margin-left: -1px;
  padding-right: 55px;
  color: #165690 !important;
}

.top-films__item:first-child {
  border-radius: 0;
  border-top: none;
}

.top-films__item:last-child {
  border-radius: 0;
  border-bottom: none;
}

.top-films__item:hover, .top-films__item:focus {
  color: white !important;
  background-color: #df8a13 !important;
  border-color: #df8a13;
}

.top-films__item:hover .badge, .top-films__item:focus .badge {
  background-color: #232323;
}

.top-films__badge {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 576px) {
  .header-logo__title {
    letter-spacing: 0.33em;
    font-size: 3.5rem;
    margin-right: -0.2777em;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav li > a {
    border-radius: 4px;
  }
  .navbar-left li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 575.8px) {
  .header-logo__title {
    letter-spacing: 0.2em;
    font-size: 2.5rem;
  }
}
